@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-100 dark:bg-zinc-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-zinc-600 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400 dark:bg-zinc-500;
}
